{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} {{ nsamples }} Samples {% endblock %}</h1>
    
    <script language="javascript">
        function prompt_remove_sample(selector, sample_id, sample_idat) {
            conf = prompt("Confirm removal of: " + sample_idat + " by typing: yes", "");
            
            if(conf == "yes") {
                $(selector).text('');
                $.get('/sample/'+sample_id+':'+sample_idat+'/remove_sample');
            }
            
            
        }
    </script>
    
    <TABLE>
        <TR>
            <TD><B>name</B></TD>
            <TD> &nbsp; </TD>
            <TD><B>sentrix_id</B></TD>
            <TD> &nbsp;&nbsp; </TD>
            <TD><B>&nbsp;</B></TD>
            <TD> &nbsp;&nbsp;&nbsp;&nbsp; </TD>
            <TD><B>&nbsp;</B></TD>
            <TD> &nbsp;&nbsp;&nbsp;&nbsp; </TD>
            {% for wf in wfs %}
                <TD><span class="badge badge-primary" title="{{ wf._workflow_name_full }}"><NOBR>{{ wf._workflow_name_short }} v{{ wf._workflow_version }}</NOBR></span></TD>
            {% endfor %}
        </TR>
        
    {% for post in posts %}
        <TR style="border: 1px dashed gray;" VALIGN="top">
            
            <TD><span title="{{ post._created_at }}"><NOBR><I>{{ post._name }}</NOBR></I></span></TD>
            <TD> &nbsp; </TD>
            <TD><span title="{{ post._created_at }}"><NOBR>{{ post._idat }}</NOBR></span></TD>
            <TD> &nbsp;&nbsp;&nbsp;&nbsp; </TD>

            
            <TD><span class="badge badge-primary" style="background-color: red;" title="remove sample"><A ID="sample_rm_{{ post._id }}" style="cursor: pointer;" ONCLICK="prompt_remove_sample($('#sample_rm_{{ post._id }}'), '{{ post._id }}', '{{ post._idat }}');">X</A></span></TD>
            <TD> &nbsp;&nbsp;&nbsp;&nbsp; </TD>
            <TD><span class="badge badge-primary" style="background-color: darkgray;"><NOBR><A style="cursor: pointer;" TITLE="refresh data in back-end" ID="refresh_{{ post._id}}" ONCLICK="$('#refresh_{{ post._id}}').text('');$.get('/sample/{{ post._id }}:{{ post._idat }}/refresh');">[<B>&#8634;</B>]</A></NOBR></span></TD>
            
            <TD style="font-color:gray;"> &nbsp;&nbsp;|&nbsp;&nbsp; </TD>
            
            {% for wf in wfs %}
                {% if post._workflows[wf]['status'] == "available" %}
                    <TD><span class="badge badge-primary" style="background-color: darkgray;"><NOBR><A style="cursor: pointer;" TITLE="run" ID="exe_{{ post._id}}_{{ wf._workflow_id }}" ONCLICK="$('#exe_{{ post._id}}_{{ wf._workflow_id }}').text('');$.get('/sample/{{ post._id }}:{{ post._idat }}/workflow/{{ wf._workflow_id }}/execute_job');">[<B>&#8594;</B>]</A></NOBR></span></TD>
                {% elif post._workflows[wf]['status'] == "unavailable" %}
                    <TD><span class="badge badge-primary" style="background-color: red;" title="unavailable"><NOBR>--</NOBR></span></TD>
                {% elif post._workflows[wf]['status'] == "done" %}
                    <TD><!-- <span class="badge badge-primary" style="background-color: darkgray;"><A HREF="" TITLE="redo">[&#8594;]</A></span> -->{% for job in post._workflows[wf]['jobs'].values() %}
                        <NOBR>
                        <span title="Job: {{ job._id }}">
                        {% for task in job._status %}<span class="badge badge-primary" style="background-color: {% if task['STATUS'] == "complete" %}darkgreen{% elif task['STATUS'] == "started" %}yellow{% else %}orange{% endif %};width:2px;font-size:10px;" TITLE="{{ task['TASK-NAME'] }}: {{ task['STATUS'] }}  -- {{ task['CREATED-AT'] }}">&nbsp;</span>{% endfor %}
                        <span class="badge badge-primary" style="background-color: red;" title="remove job"><A ID="job_{{ job._id }}" style="cursor: pointer;" ONCLICK="$('#job_{{ job._id }}').text('');$.get('/sample/{{ post._id }}:{{ post._idat }}/job/{{ job._id }}/remove_job');">X</A></span>
                        </span>
                        </NOBR>
                    {% endfor %}</TD>
                {% else %}
                    <TD><span class="badge badge-primary"><NOBR>{{ post._workflows[wf]['status'] }}</NOBR></span></TD>
                {% endif %}
                
            {% endfor %}
        </TR>

    {% endfor %}
    
    </TABLE>
{% endblock %}
